
@media (max-width: 1240px) {
    section.content {
        margin: 20px 20px;
        float: left;
    }

    section.news article > div > section {
        flex: 0 1 49%;
        max-width: 49%;
    }
}

@media (max-width: 1200px) {
    header nav a:first-child {
        border-left: none;
    }

    header nav a:last-child {
        border-right: none;
    }
}

@media (max-width: 980px) {

    header .headerBackground h1 {
        font-size: 80px;
    }

    header .headerBackground h2 {
        font-size: 60px;
    }
}

@media (max-width: 940px) {

    body > header {
        position: fixed;
        box-shadow: 0px -5px 5px 5px #000;
    }

    body > header .headerBackground {
        padding: 10px 15px 10px 15px;
        height: auto;
    }

    body > header .headerBackground h1 {
        font-size: 35px;
        font-size: 30px;
        line-height: 50px;
    }

    body > header .headerBackground h2 {
        display: none;
    }

    body > header .mobileNavOpener, header .mobileNavCloser {
        position: fixed;
        top: 0px;
        right: 0px;
        height: 50px;
        width: 60px;
        padding: 10px 20px;
        cursor: pointer;
    }

    body > header .mobileNavOpener {
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

    body > header .mobileNavCloser {
        pointer-events: none;
    }

    body > header .mobileNavOpener:focus + nav + .mobileNavCloser {
        pointer-events: initial;
    }

    body > header .mobileNavOpener span {
        display: inline-block;
        width: 60px;
        height: 8px;
        margin-bottom: 13px;
        background: #FFF;
        float: left;
        box-shadow: #000 0 0 5px;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    body > header .mobileNavOpener:active, body > header .mobileNavOpener:focus {
        background: #333;
    }

    body > header .mobileNavOpener:active span, body > header .mobileNavOpener:focus span {
        box-shadow: none;
    }

    body > header .mobileNavOpener:active .span1, body > header .mobileNavOpener:focus .span1 {
        -moz-transform: rotate(45deg) translateY(14px) translateX(14px);
        -ms-transform: rotate(45deg) translateY(14px) translateX(14px);
        -o-transform: rotate(45deg) translateY(14px) translateX(14px);
        -webkit-transform: rotate(45deg) translateY(14px) translateX(14px);
        transform: rotate(45deg) translateY(14px) translateX(14px);
    }

    body > header .mobileNavOpener:active .span2, body > header .mobileNavOpener:focus .span2 {
        opacity: 0;
    }

    body > header .mobileNavOpener:active .span3, body > header .mobileNavOpener:focus .span3 {
        -moz-transform: rotate(-45deg) translateY(-14px) translateX(14px);
        -ms-transform: rotate(-45deg) translateY(-14px) translateX(14px);
        -o-transform: rotate(-45deg) translateY(-14px) translateX(14px);
        -webkit-transform: rotate(-45deg) translateY(-14px) translateX(14px);
        transform: rotate(-45deg) translateY(-14px) translateX(14px);
    }

    body > header nav {
        position: absolute;
        pointer-events: none;
        top: 70px;
        right: 0px;
        width: auto;
        height: auto;
        box-shadow: #000 1px 1px 5px 1px;
        -moz-transition: transform 0.4s, opacity 0.4s;
        -o-transition: transform 0.4s, opacity 0.4s;
        -webkit-transition: transform 0.4s, opacity 0.4s;
        transition: transform 0.4s, opacity 0.4s;
        transform: translateY(-10px);
        opacity: 0;
    }

    body > header nav div {
        flex-direction: column;
        width: auto;
    }

    body > header .mobileNavOpener:active + nav, body > header .mobileNavOpener:focus + nav,
    body > header nav:active, body > header nav:focus {
        transform: translateY(0px);
        opacity: 1;
        pointer-events: all;
    }

    body > header nav a {
        border: none !important;
        text-align: left;
    }

    body > header .shadowNav {
        height: 0;
    }

    /*Because menu is fixed*/
    section#main {
        margin-top: 70px;
    }

    section.content {
        margin: 0;
    }

    section.content > section {
        padding: 15px;
    }

    section.content > section header {
        margin: -15px -15px 0;
        padding: 30px 15px 0;
    }
}

/*for devices smaller than ipad*/
@media (max-width: 760px) {
    section.news article > div {
        flex-wrap: wrap;
    }
    
    section.news article > div > section {
        flex: 0 0 100%;
        max-width: 100%;
    }

    section.news article section:first-child p:last-child {
        margin-bottom: 1em;
    }
}